on post-fs

    mount none /system/bin/hw/android.hardware.power@1.2-service /vendor/bin/hw/android.hardware.power@1.2-service bind
    mount none /dev/null /vendor/lib64/hw/power.default.so bind
    mount none /dev/null /vendor/lib/hw/power.default.so bind

    mount none /dev/null /vendor/overlay/BluetoothResCommon.apk

on init
    #Qicai.Gu@PSW.BSP.TP.Function 2019-06-14 add for limit_enable
    chown system system /proc/touchpanel/oppo_tp_limit_enable
    chown system system /proc/touchpanel/oppo_tp_limit_area
    chown system system /proc/touchpanel/tp_fw_update

    # Boot time FS tune
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/scheduler cfq
    write /sys/block/sda/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sdf/queue/iostats 0
    write /sys/block/sdf/queue/scheduler cfq
    write /sys/block/sdf/queue/iosched/slice_idle 0
    write /sys/block/sdf/queue/read_ahead_kb 2048
    write /sys/block/sdf/queue/nr_requests 256
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048
    write /sys/block/dm-2/queue/read_ahead_kb 2048

on boot
    # OTG
    write /sys/class/power_supply/usb/otg_switch 1

    #for goodix_fp.
    chown system system /dev/goodix_fp

#Fanhong.Kong@ProDrv.CHG,add 2018/9/25 for vib aw8697
#change ownership and premission for awinic haptic shock with music
    chown system audio /dev/aw8697_haptic
    chmod 0660 /dev/aw8697_haptic
    chown system audio /sys/class/leds/vibrator/haptic_audio
    chmod 0660 /sys/class/leds/vibrator/haptic_audio
    mkdir /data/awinic 0770 system audio

    # enable awinic haptic sync wirh audio algo
    setprop audio.awinic.haptic.support  false

#tongfeng.Huang@PSW.BSP.CHG.Basic, 2018/12/03,  Add for vibration dev file
    chown system system /sys/class/leds/vibrator/f0
    chown system system /sys/class/leds/vibrator/cali
    chown system system /sys/class/leds/vibrator/vmax
    chown system system /sys/class/leds/vibrator/index
    chown system system /sys/class/leds/vibrator/loop
    chown system system /sys/class/leds/vibrator/lra_resistance
    chown system system /sys/class/leds/vibrator/ram_update
    chown system audio /sys/class/leds/vibrator/rtp
    chmod 0660 /sys/class/leds/vibrator/rtp
    chown system system /sys/class/leds/vibrator/seq
    chown system system /sys/class/leds/vibrator/motor_old
    chown system system /sys/class/leds/vibrator/waveform_index
    chown system system /sys/class/leds/vibrator/osc_cali
    chown system system /sys/class/leds/vibrator/osc_data
    chown system system /sys/class/leds/vibrator/ram_test

    # load haptic fw
    write /sys/class/leds/vibrator/ram_update 1

    chown system system /sys/class/leds/vibrator/trigger
    chown system system /sys/class/leds/vibrator/activate
    chown system system /sys/class/leds/vibrator/brightness
    chown system system /sys/class/leds/vibrator/duration
    chown system system /sys/class/leds/vibrator/state
    chown system system /sys/class/timed_output/vibrator/enable

#Jianchao.Shi@PSW.BSP.CHG.Basic, 2017/09/08, sjc Add for short_c_batt
    chown system system /sys/class/power_supply/battery/short_c_batt_in_idle
    chown system system /sys/class/power_supply/battery/short_c_batt_update_change
    chown system system /sys/class/power_supply/battery/short_c_hw_feature
    chown system system /sys/class/power_supply/battery/short_c_batt_limit_chg
    chown system system /sys/class/power_supply/battery/short_c_batt_limit_rechg
    chown system system /sys/class/power_supply/battery/short_ic_volt_thresh
    chown system system /sys/class/power_supply/battery/short_ic_otp_status
    chown system system /sys/class/power_supply/battery/ship_mode
    chown system system /sys/class/power_supply/battery/cool_down
    chmod  0666 /sys/class/power_supply/battery/call_mode
    chown system system /sys/class/power_supply/battery/call_mode

    #Liangxiang.Liu@AD.Power.PowerMonitor, 2018/02/08, Add for wakeup_stastisc reset
    chown system system /sys/kernel/wakeup_reasons/wakeup_stastisc_reset
    chmod 0664 /sys/kernel/wakeup_reasons/wakeup_stastisc_reset

#tongfeng.Huang@PSW.BSP.CHG.Basic, 2019/04/22,  Add for tbatt power off
    chown system system /proc/tbatt_pwroff

#Xuefeng.Peng@PSW.AD.Usb.1410703, 2018/06/19, Add for support NDIS 5.0
    write /config/usb_gadget/g1/functions/gsi.rndis/rndis_class_id 1

on late-fs
    # Boot time FS tune
    write /sys/block/dm-3/queue/read_ahead_kb 2048þ

    # Runtime FS tuning: as we have init boottime setting and kernel patch setting
    # default readahead to 2048KB. We should adjust the setting upon boot_complete
    # for runtime performance
    write /sys/block/sda/queue/read_ahead_kb 1024
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sda/queue/iostats 1
    write /sys/block/sdf/queue/read_ahead_kb 1024
    write /sys/block/sdf/queue/nr_requests 128
    write /sys/block/sdf/queue/iostats 1
    write /sys/block/dm-0/queue/read_ahead_kb 512
    write /sys/block/dm-1/queue/read_ahead_kb 512
    write /sys/block/dm-2/queue/read_ahead_kb 512
    write /sys/block/dm-3/queue/read_ahead_kb 512
    write /sys/block/sda/queue/scheduler deadline
    write /sys/block/sdf/queue/scheduler deadline

on post-fs-data
    mkdir /data/system/audio 0775 media media

    mkdir /data/gf_data 0700 system system
    mkdir /data/system/gf_data 0700 system system

    mkdir /data/vendor/fingerprint 0770 system system
    chown system system /sys/kernel/oppo_display/hbm

on property:sys.boot_completed=1
    setprop vendor.oppo.biometrics.fingerprint.boot_completed 1

#Shengwang.Luo@BSP.Fingerprint.Basic, 2019/11/12, add unlock prop
on property:ro.boot.vbmeta.device_state=unlocked
    setprop vendor.boot.verifiedbootstate 1

on property:ro.boot.vbmeta.device_state=locked
    setprop vendor.boot.verifiedbootstate 0
