on post-fs

    mount none /system/bin/hw/android.hardware.power@1.2-service /vendor/bin/hw/android.hardware.power@1.2-service bind
    mount none /dev/null /vendor/lib64/hw/power.default.so bind
    mount none /dev/null /vendor/lib/hw/power.default.so bind

    mount none /dev/null /vendor/overlay/BluetoothResCommon.apk

on boot
    # OTG
    write /sys/class/power_supply/usb/otg_switch 1

    #for goodix_fp.
    chown system system /dev/goodix_fp

on post-fs-data
    mkdir /data/gf_data 0700 system system
    mkdir /data/system/gf_data 0700 system system

    mkdir /data/vendor/fingerprint 0770 system system
    chown system system /sys/kernel/oppo_display/hbm

on property:sys.boot_completed=1
    setprop vendor.oppo.biometrics.fingerprint.boot_completed 1

#Shengwang.Luo@BSP.Fingerprint.Basic, 2019/11/12, add unlock prop
on property:ro.boot.vbmeta.device_state=unlocked
    setprop vendor.boot.verifiedbootstate 1

on property:ro.boot.vbmeta.device_state=locked
    setprop vendor.boot.verifiedbootstate 0
