on init
    # Drop write bit from cpu_min_freq so that libqti-perfd can't set it
    chmod 0444 /sys/module/msm_performance/parameters/cpu_min_freq

    # Boot time FS tune
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/scheduler cfq
    write /sys/block/sda/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sdf/queue/iostats 0
    write /sys/block/sdf/queue/scheduler cfq
    write /sys/block/sdf/queue/iosched/slice_idle 0
    write /sys/block/sdf/queue/read_ahead_kb 2048
    write /sys/block/sdf/queue/nr_requests 256
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048
    write /sys/block/dm-2/queue/read_ahead_kb 2048

on boot
    # Disable performance profile by default
    setprop perf_profile 0

# Balanced
on property:perf_profile=0

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1785600
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2419200
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_max_freq 2956800
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_min_freq 825600

    write /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq 710400

    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1036800"
    write /sys/module/cpu_boost/parameters/input_boost_ms 20

    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 180000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 499200000

    write /proc/sys/kernel/sched_upmigrate "96 88"
    write /proc/sys/kernel/sched_downmigrate "55 66"

    write /proc/sys/vm/swappiness 100

    # thermalzone28
    write /sys/class/thermal/thermal_zone28/cdev0_lower_limit 03
    write /sys/class/thermal/thermal_zone28/cdev0_upper_limit 03
    write /sys/class/thermal/thermal_zone28/cdev1_lower_limit 01
    write /sys/class/thermal/thermal_zone28/cdev1_upper_limit 01

    # thermalzone29
    write /sys/class/thermal/thermal_zone29/cdev0_lower_limit 03
    write /sys/class/thermal/thermal_zone29/cdev0_upper_limit 03
    write /sys/class/thermal/thermal_zone29/cdev1_lower_limit 01
    write /sys/class/thermal/thermal_zone29/cdev1_upper_limit 01

    # thermalzone30
    write /sys/class/thermal/thermal_zone30/cdev0_lower_limit 03
    write /sys/class/thermal/thermal_zone30/cdev0_upper_limit 03
    write /sys/class/thermal/thermal_zone30/cdev1_lower_limit 01
    write /sys/class/thermal/thermal_zone30/cdev1_upper_limit 01

    # thermalzone31
    write /sys/class/thermal/thermal_zone31/cdev0_lower_limit 03
    write /sys/class/thermal/thermal_zone31/cdev0_upper_limit 03
    write /sys/class/thermal/thermal_zone31/cdev1_lower_limit 01
    write /sys/class/thermal/thermal_zone31/cdev1_upper_limit 01

    # thermalzone56
    write /sys/class/thermal/thermal_zone56/cdev0_lower_limit 02
    write /sys/class/thermal/thermal_zone56/cdev0_upper_limit 02
    write /sys/class/thermal/thermal_zone56/cdev1_lower_limit 17
    write /sys/class/thermal/thermal_zone56/cdev1_upper_limit 17
    write /sys/class/thermal/thermal_zone56/cdev2_lower_limit 17
    write /sys/class/thermal/thermal_zone56/cdev2_upper_limit 17

    # thermalzone57
    write /sys/class/thermal/thermal_zone57/cdev0_lower_limit 04
    write /sys/class/thermal/thermal_zone57/cdev0_upper_limit 04
    write /sys/class/thermal/thermal_zone57/cdev1_lower_limit 17
    write /sys/class/thermal/thermal_zone57/cdev1_upper_limit 17
    write /sys/class/thermal/thermal_zone57/cdev2_lower_limit 21
    write /sys/class/thermal/thermal_zone57/cdev2_upper_limit 21

    # thermalzone58
    write /sys/class/thermal/thermal_zone58/cdev0_lower_limit 02
    write /sys/class/thermal/thermal_zone58/cdev0_upper_limit 02
    write /sys/class/thermal/thermal_zone58/cdev1_lower_limit 17
    write /sys/class/thermal/thermal_zone58/cdev1_upper_limit 17
    write /sys/class/thermal/thermal_zone58/cdev2_lower_limit 17
    write /sys/class/thermal/thermal_zone58/cdev2_upper_limit 17

    # thermalzone59
    write /sys/class/thermal/thermal_zone59/cdev0_lower_limit 04
    write /sys/class/thermal/thermal_zone59/cdev0_upper_limit 04
    write /sys/class/thermal/thermal_zone59/cdev1_lower_limit 17
    write /sys/class/thermal/thermal_zone59/cdev1_upper_limit 17
    write /sys/class/thermal/thermal_zone59/cdev2_lower_limit 21
    write /sys/class/thermal/thermal_zone59/cdev2_upper_limit 21

    # thermalzone60
    write /sys/class/thermal/thermal_zone60/cdev0_lower_limit 05
    write /sys/class/thermal/thermal_zone60/cdev0_upper_limit 05

    # thermalzone61
    write /sys/class/thermal/thermal_zone62/cdev0_lower_limit 02
    write /sys/class/thermal/thermal_zone62/cdev0_upper_limit 02
    write /sys/class/thermal/thermal_zone62/cdev1_lower_limit 17
    write /sys/class/thermal/thermal_zone62/cdev1_upper_limit 17
    write /sys/class/thermal/thermal_zone62/cdev2_lower_limit 17
    write /sys/class/thermal/thermal_zone62/cdev2_upper_limit 17

    # thermalzone63
    write /sys/class/thermal/thermal_zone63/cdev0_lower_limit 04
    write /sys/class/thermal/thermal_zone63/cdev0_upper_limit 04
    write /sys/class/thermal/thermal_zone63/cdev1_lower_limit 17
    write /sys/class/thermal/thermal_zone63/cdev1_upper_limit 17
    write /sys/class/thermal/thermal_zone63/cdev2_lower_limit 21
    write /sys/class/thermal/thermal_zone63/cdev2_upper_limit 21

    # thermalzone64
    write /sys/class/thermal/thermal_zone64/cdev0_lower_limit 05
    write /sys/class/thermal/thermal_zone64/cdev0_upper_limit 05

    # thermalzone67
    write /sys/class/thermal/thermal_zone67/cdev0_lower_limit 00
    write /sys/class/thermal/thermal_zone67/cdev0_upper_limit 12
    write /sys/class/thermal/thermal_zone67/cdev1_lower_limit 00
    write /sys/class/thermal/thermal_zone67/cdev1_upper_limit 15

# Gaming
on property:perf_profile=1

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1785600
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2419200
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_max_freq 2956800
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_min_freq 825600

    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1036800"
    write /sys/module/cpu_boost/parameters/input_boost_ms 20

    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 180000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 675000000

    write /proc/sys/kernel/sched_upmigrate "60 60"
    write /proc/sys/kernel/sched_downmigrate "40 40"

    write /proc/sys/vm/swappiness 1

    # thermalzone28
    write /sys/class/thermal/thermal_zone28/cdev0_lower_limit 00
    write /sys/class/thermal/thermal_zone28/cdev0_upper_limit 00
    write /sys/class/thermal/thermal_zone28/cdev1_lower_limit 00
    write /sys/class/thermal/thermal_zone28/cdev1_upper_limit 00

    # thermalzone29
    write /sys/class/thermal/thermal_zone29/cdev0_lower_limit 00
    write /sys/class/thermal/thermal_zone29/cdev0_upper_limit 00
    write /sys/class/thermal/thermal_zone29/cdev1_lower_limit 00
    write /sys/class/thermal/thermal_zone29/cdev1_upper_limit 00

    # thermalzone30
    write /sys/class/thermal/thermal_zone30/cdev0_lower_limit 00
    write /sys/class/thermal/thermal_zone30/cdev0_upper_limit 00
    write /sys/class/thermal/thermal_zone30/cdev1_lower_limit 00
    write /sys/class/thermal/thermal_zone30/cdev1_upper_limit 00

    # thermalzone31
    write /sys/class/thermal/thermal_zone31/cdev0_lower_limit 00
    write /sys/class/thermal/thermal_zone31/cdev0_upper_limit 00
    write /sys/class/thermal/thermal_zone31/cdev1_lower_limit 00
    write /sys/class/thermal/thermal_zone31/cdev1_upper_limit 00

    # thermalzone56
    write /sys/class/thermal/thermal_zone56/cdev0_lower_limit 00
    write /sys/class/thermal/thermal_zone56/cdev0_upper_limit 00
    write /sys/class/thermal/thermal_zone56/cdev1_lower_limit 06
    write /sys/class/thermal/thermal_zone56/cdev1_upper_limit 06
    write /sys/class/thermal/thermal_zone56/cdev2_lower_limit 06
    write /sys/class/thermal/thermal_zone56/cdev2_upper_limit 06

    # thermalzone57
    write /sys/class/thermal/thermal_zone57/cdev0_lower_limit 00
    write /sys/class/thermal/thermal_zone57/cdev0_upper_limit 00
    write /sys/class/thermal/thermal_zone57/cdev1_lower_limit 06
    write /sys/class/thermal/thermal_zone57/cdev1_upper_limit 06
    write /sys/class/thermal/thermal_zone57/cdev2_lower_limit 06
    write /sys/class/thermal/thermal_zone57/cdev2_upper_limit 06

    # thermalzone58
    write /sys/class/thermal/thermal_zone58/cdev0_lower_limit 00
    write /sys/class/thermal/thermal_zone58/cdev0_upper_limit 00
    write /sys/class/thermal/thermal_zone58/cdev1_lower_limit 06
    write /sys/class/thermal/thermal_zone58/cdev1_upper_limit 06
    write /sys/class/thermal/thermal_zone58/cdev2_lower_limit 06
    write /sys/class/thermal/thermal_zone58/cdev2_upper_limit 06

    # thermalzone59
    write /sys/class/thermal/thermal_zone59/cdev0_lower_limit 00
    write /sys/class/thermal/thermal_zone59/cdev0_upper_limit 00
    write /sys/class/thermal/thermal_zone59/cdev1_lower_limit 06
    write /sys/class/thermal/thermal_zone59/cdev1_upper_limit 06
    write /sys/class/thermal/thermal_zone59/cdev2_lower_limit 06
    write /sys/class/thermal/thermal_zone59/cdev2_upper_limit 06

    # thermalzone60
    write /sys/class/thermal/thermal_zone60/cdev0_lower_limit 00
    write /sys/class/thermal/thermal_zone60/cdev0_upper_limit 00

    # thermalzone62
    write /sys/class/thermal/thermal_zone62/cdev0_lower_limit 00
    write /sys/class/thermal/thermal_zone62/cdev0_upper_limit 00
    write /sys/class/thermal/thermal_zone62/cdev1_lower_limit 06
    write /sys/class/thermal/thermal_zone62/cdev1_upper_limit 06
    write /sys/class/thermal/thermal_zone62/cdev2_lower_limit 06
    write /sys/class/thermal/thermal_zone62/cdev2_upper_limit 06

    # thermalzone63
    write /sys/class/thermal/thermal_zone63/cdev0_lower_limit 00
    write /sys/class/thermal/thermal_zone63/cdev0_upper_limit 00
    write /sys/class/thermal/thermal_zone63/cdev1_lower_limit 06
    write /sys/class/thermal/thermal_zone63/cdev1_upper_limit 06
    write /sys/class/thermal/thermal_zone63/cdev2_lower_limit 06
    write /sys/class/thermal/thermal_zone63/cdev2_upper_limit 06

    # thermalzone64
    write /sys/class/thermal/thermal_zone64/cdev0_lower_limit 00
    write /sys/class/thermal/thermal_zone64/cdev0_upper_limit 00

    # thermalzone67
    write /sys/class/thermal/thermal_zone67/cdev0_lower_limit 00
    write /sys/class/thermal/thermal_zone67/cdev0_upper_limit 06
    write /sys/class/thermal/thermal_zone67/cdev1_lower_limit 00
    write /sys/class/thermal/thermal_zone67/cdev1_upper_limit 06

on charger

on enable-low-power

on property:sys.boot_completed=1
    trigger enable-low-power

on property:init.svc.recovery=running
    trigger enable-low-power

on late-fs
    # Boot time FS tune
    write /sys/block/dm-3/queue/read_ahead_kb 2048

    # Runtime FS tuning: as we have init boottime setting and kernel patch setting
    # default readahead to 2048KB. We should adjust the setting upon boot_complete
    # for runtime performance
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sda/queue/iostats 1
    write /sys/block/sdf/queue/read_ahead_kb 128
    write /sys/block/sdf/queue/nr_requests 128
    write /sys/block/sdf/queue/iostats 1
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
    write /sys/block/dm-2/queue/read_ahead_kb 128
    write /sys/block/dm-3/queue/read_ahead_kb 128
