service vendor.oplus_syshelper /vendor/bin/hw/vendor.oplus.hardware.syshelper.service
    class hal
    user system
    group system
    task_profiles ServiceCapacityLow
    onrestart restart als_correction_service
    onrestart restart vendor.fps_hal.samurai
